asgiref==3.8.1
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.5
idna==3.7
-e git+https://github.com/ShivamSrivas/DemoPixelotech.git@86dfd0e8b43e414f2ab1cf976e636c0702ac5842#egg=Packages
psycopg2==2.9.9
requests==2.31.0
sqlparse==0.5.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
